# Default ignored files
/shelf/
/workspace.xml
.gradle
.gradle/
.idea
.idea/
DriverAppV3.iml
app/app.iml
app/build
app/debug
app/release
app/out.map
build
local.properties
.DS_Store
app/**/*.apk
keystores/release
captures
/app/src/main/java/com/theporter/android/driverapp/util/LocalConstants.java
app/google-services.json
*.iml
config/release
keystore.properties
